<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/nav.css">
  <body>
    <%- include('./includes/nav.ejs') %>
    <h1>This is Admin Page</h1>
    <form action="/admin/add-content" method="POST">
      <div>
        <input type="text" name="title" value="title" id="title" />
      </div>
      <div>
        <input type="text" name="imageUrl" value="Put Image" id="imageUrl" />
      </div>
      <div>
        <textarea name="description" id="description" rows="5"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
